@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-muted: #888888;
  --color-accent: #333333;
  --color-border: #222222;

  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist);
  
  --radius: 0px;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --muted: 0 0% 53%;
    --accent: 0 0% 20%;
    --border: 0 0% 13%;
  }

  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased selection:bg-[#0056D2] selection:text-white;
    overflow-x: hidden;
  }
  
  * {
    border-radius: 0px !important;
  }



  /* Scrollbar hidden for GSAP smoothness */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}